img {
	border: 5px solid blue;
	padding: 5%;
	width: 50%;
	position: relative;
}

#buttons {
	display: inline-block;
}

#second {
	margin-left: auto;
	margin-right: auto;
}

body {
	background-image: url("images/christmas-colour.png");
}

.images {
	display: grid;
	grid-template-columns: 1fr 1fr; 
}

.image1 {
    grid-column: 1 / 2;
    grid-row-start: 1;
  }

.image2 {
    grid-column: 2 / 3;
    grid-row-start: 1;
  }