* {
	box-sizing: border-box;
}

html, body, header, footer {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

footer {
	position: relative;
  	bottom: 0;
	width: 100%;
	background-color: #de754d;
}

/*navigation*/

.top-nav {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: block;
	text-align: center;
	overflow: hidden;
	width: 100%;
}

.top-nav li a {
	font-family: "Arimo", sans-serif;
	font-size: 1.2em;
	color: #dbb142;
	text-decoration: none;
}

.top-nav li a:hover {
    color: #de754d;
}

.logo img {
	margin: auto;
	padding: 0;
	width: 45%;
	display: block;
}

nav li {
	display: block;
	padding: 10px 20px;
}

/*home section*/

#Home {
	background-color: #c1dbd5;
	width: 100%;
	position: relative;
	display: inline-block;
	padding: 0;
	margin: 0;
}

#Home h1, #Home p {
	color: #de754d;
	text-align: center;
}

#Home h1 {
	font-family: "Cookie", cursive;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 3em;
    display: block;
    margin: 0 auto;
}

#Home p {
	font-family: "Arimo", sans-serif;
	font-weight: bold;
	padding: 2em;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 1.1em;
    display: block;
}

#Home button {
	width: 165px;
	margin: 1% auto;
	background-color: #dbb142;
	color: white;
	padding: .3em;
	border: none;
	font-family: "Arimo", sans-serif;
	font-size: 1em;
}

.img-responsive {
	width: 100%;
	display: block;
	height: auto;
	margin: auto;
  	padding: auto;
  	position: relative;
}

.download {
	height: 1em;
	display: inline-block;
}

.over_image {
 	position: absolute;
    text-align: center;
  	width: 100%;
  	margin: auto;
  	top: 50%;
  	left: 50%;
  	transform: translate( -50%, -50%);
}

/*projects section*/

#Projects {
	margin: auto;
	width: 100%;
}

#Projects h1 {
	font-family: "Cookie", cursive;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 3em;
    display: block;
   	color: #de754d;
	text-align: center;
}

.projects {
	background-color: #fdddd3;
	display: inline-block;
	border: 30px solid white;
	width: 500px;
}

.projects img {
	padding: 2em;
	height: 200px;
	position: relative;
	display: block;
	margin: auto;
}

.projects p {
	text-align: center;
	color: #de754d;
}

/*work section*/

#Work {
	background-color: #f0efef;
	width: 100%;
	position: relative;
	display: inline-block;
	padding: 0;
	margin: 0;
}

#Work h1 {
	font-family: "Cookie", cursive;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 3em;
    display: block;
   	color: #de754d;
	text-align: center;
	margin-bottom: .1em;
}

.over_grey {
 	position: absolute;
    text-align: center;
  	width: 100%;
  	margin: auto;
  	top: 50%;
  	left: 50%;
  	transform: translate( -50%, -50%);
}

.img-responsive2 {
	display: block;
	height: auto;
	margin: auto;
  	padding: auto;
  	position: relative;
  	height: 11em;
}

#Work h2 {
	font-family: "Arimo", sans-serif;
	font-weight: bold;
	font-size: 1em;
	color: #dbb142;
}

#Work p {
	font-family: "Arimo", sans-serif;
	padding-left: 1em;
	padding-right: 1em;
}

/*favorites section*/

#Favorites h1 {
	font-family: "Cookie", cursive;
	font-size: 3em;
	color: #de754d;
	text-align: center;
	display: block;
}

#Favorites h2 {
	font-family: "Arimo", sans-serif;
	font-size: 1em;
	color: #de754d;
	text-align: center;
	display: block;
}

.favorites img {
	height: 350px;
	margin: 1em;
	border: 20px solid #c1dbd5;
}

.divider {
	width: 90%;
	display: block;
	margin: auto;
	padding: 1em;
}

/*about section*/

#About {
	background-color: #fdddd3;
	width: 100%;
	position: relative;
	display: inline-block;
	padding: 0;
	margin: 0;
}

.denise img {
	border-radius: 50%;
	height: 150px;
	border: 10px solid #f0efef;
}

/*contact section*/

#Contact h1 {
	font-family: "Cookie", cursive;
	font-size: 3em;
	color: #de754d;
	text-align: center;
	display: block;
}

#Contact p {
	font-family: "Arimo", sans-serif;
	font-size: 1.1em;
	padding: 2em;
	text-align: center;
	margin-left: 4.5em;
	margin-right: 4.5em;
}

#Contact a {
	color: #dbb142;
	text-decoration: none;
	font-weight: bold;
}

#Contact a:hover {
	color: #de754d;
}

#Contact img {
	display: block;
	margin: auto;
	width: 10%;
	padding: 1em;
	margin-bottom: 30px;
}

/*footer*/

.social_media {
	text-align: center;
	padding: .5em;
	font-size: 1.5em;
}

.fa {
	display: block;
	color: white;
	padding: .3em;
}

/*responsive*/

@media screen and (min-width: 650px){

	nav li {
		display: inline-block;
	}

	#Home h1 {
		font-size: 5em;
	}

	#Home p {
		font-size: 1.5em;
	}

	#Home button {
		font-size: 1.5em;
		width: 225px;
	}

	#Projects h1 {
		font-size: 5em;
	}

	#Work h1 {
		font-size: 5em;
	}

	#Contact h1 {
		font-size: 5em;
	}

	#Contact p {
		font-size: 1.5em;
	}

	.img-responsive2 {
  		height: 30em;
	}

	#Work h2 {
		font-size: 2em;
	}

	#Work p {
		font-size: 1.2em;
	}

	#Favorites h1 {
		font-size: 5em;
	}

	#Favorites h2 {
		font-size: 2em;
	}

	#About h1 {
		font-size: 5em;
	}

	#About p {
		font-size: 1.2em;
	}

	.denise img {
	height: 300px;
}
}