/*General & Universal Stuff*/

html, body, header, footer {
	margin: 0;
	padding: 0;
}

header, footer, .logo {
	background-color: #330000;
	color: #FFFFFF;
}

header, footer {
	box-shadow: 0px 0px 10px rgba(141, 141, 139, .75);
}

@font-face { font-family: Tofino Pro Personal; src: url('TofinoProPersonal-Regular.otf'); } 
@font-face { font-family: Tofino Pro Personal; font-weight: medium; src: url('TofinoProPersonal-Semibold.otf');}
@font-face { font-family: Tofino Pro Personal; font-weight: bold; src: url('TofinoProPersonal-Bold.otf');}

p {
	font-family: TofinoProPersonal-Regular;
}

.logo img {
	height: 3em;
}

.copyright {
	color: white;
	font-family: TofinoProPersonal-Regular;
	text-align: center;
}

nav li {
	display: inline-block;
	padding: 10px 20px;
	font-family: TofinoProPersonal-Regular;
}

.social-media { 
	display: inline-block; /*this isn't doing anything*/
	color: #FFFFFF; /*this isn't doing anything*/
}

/*Home Page*/

.welcome {
	background-color: #CC6666;
	box-shadow: 0px 0px 10px rgba(141, 141, 139, .75);
}

.welcome p {
	color: white;
	text-align: center;
}

.main-content-home {
	margin: 20px;
}

.home-cell {
	margin-bottom: 2%;
	margin-left: 2%;
	display: block;
	width: 98%;
}

.home-cell img {
	width: 98%;
	display: block;
}

/*About*/

.main-content-about {
	margin: 20px;
}

.about-picture img {
	box-shadow: 0px 0px 10px rgba(141, 141, 139, .75);
}

.main-content-about h1, h3, p {
}

.main-content-about h1 {
	font-family: TofinoProPersonal-Regular;
	color: #CC6666;
}

.main-content-about h3 {
	font-family: TofinoProPersonal-Regular;
}

.about-cell {
	margin-bottom: 2%;
	margin-left: 2%;
	display: block;
	width: 98%;
}

.about-cell img {
	display: block;
	width: 98%;
}

/*Work*/

.main-content-work {
	margin: 20px;
}

.main-content-work h1 {
	font-family: TofinoProPersonal-Regular;
	color: #CC6666;
}

#projects {
	background-color: #FF9999;
	box-shadow: 0px 0px 10px rgba(141, 141, 139, .75);
}

#projects h2 {
	font-family: TofinoProPersonal-Bold;
	color: #FFFFFF;
	margin: 10px;
}

#projects p {
	color: #FFFFFF;
	margin: 10px;
}

#skills {
	background-color: #CC6666;
	box-shadow: 0px 0px 10px rgba(141, 141, 139, .75);
}

#skills h2 {
	font-family: TofinoProPersonal-Bold;
	color: #FFFFFF;
	margin: 10px;
}

#skills p {
	color: #FFFFFF;
	margin: 10px;
}

.work-cell {
	margin-bottom: 2%;
	margin-left: 2%;
	display: block;
	width: 98%;
}

/*Gallery*/

.main-content-gallery {
	margin: 20px;
}

.main-content-gallery h1 {
	font-family: TofinoProPersonal-Regular;
	color: #CC6666;
}

.photo-cell{
	margin-bottom: 2%;
	margin-left: 2%;
}
.photo-cell img {
	width: 98%;
  	display: block;
  	box-shadow: 0px 0px 10px rgba(141, 141, 139, .75);
}