/*General & Universal Stuff*/

html, body, header, footer {
	margin: 0;
	padding: 0;
}

header, footer, .logo {
	background-color: #330000;
	color: #FFFFFF;
}

header, footer {
	box-shadow: 0px 0px 10px rgba(141, 141, 139, .75);
	width: 100%;
}

header {
	position: fixed;
	top: 0;
}

footer {
	position: fixed;
	bottom: 0;
	height: 10%;
}

@font-face { font-family: Tofino Pro Personal; src: url('TofinoProPersonal-Regular.otf'); } 
@font-face { font-family: Tofino Pro Personal; font-weight: medium; src: url('TofinoProPersonal-Semibold.otf');}
@font-face { font-family: Tofino Pro Personal; font-weight: bold; src: url('TofinoProPersonal-Bold.otf');}

p {
	font-family: "TofinoProPersonal-Regular", "Arial";
}

h1{ 
	font-size: 1.75em;
}
h2{
	font-size: 1.5em;
}
h3{
	font-size: 1.17em;
}
h4{
	font-size: 1.12em;
}
h5{
	font-size: .83em;
}
h6{
	font-size: .75em;
}

.logo {
	margin: 0;
	text-align: center;
	padding: .25em .75em;
}

.logo img {
	height: 3em;
}

.copyright {
	color: white;
	font-family: "TofinoProPersonal-Regular", "Arial";
	text-align: center;
	margin: 0
}

nav li {
	display: inline-block; /* change this in mobile view - update margins in responsive.css */
	padding: 10px 20px;
	font-family: "TofinoProPersonal-Regular", "Arial";
}

/*Social Media*/

.social-media { 
	text-align: center;
	font-size: 1.5em; 
	margin: 5px;
}

.fa-linkedin, .fa-pinterest, .fa-envelope-square {
	color: #FFFFFF;
}

/*Skipping*/
.skip{
	position: absolute;
	left: -999px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
	z-index: -999;
	color: #E3AD02;
}
a.skip:active, a.skip:focus, a.skip:hover {
    position:fixed;
    top: auto;
    left: auto; 
	width: auto; 
	height: auto; 
	overflow: visible;
	z-index: 999;
}

/*Navigation*/

.top-nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: block;
	text-align: center;
}

.top-nav ul li a {
	font-size: 1em;
	color: #FF9999;
	text-decoration: none;
}

.top-nav ul li a.current-page {
	font-weight: bold;
}

.top-nav ul li a.current-page:before {
	content: "\2022";
	padding-right: 4px;
	position: relative;
	top: 1px;
}

.top-nav ul li a:hover, .menu-icon a:hover .top-nav ul li a:focus, .menu-icon a:focus {
    color: #FFFFFF;
    font-weight: bold;
}

.top-nav ul li a:hover:before, .top-nav ul li a:focus:before {
	content: "\2022";
	padding-right: 4px;
	position: relative;
	top: 1px;
}

.top-nav.toggle-open ul li a{
	display: block;
	color: white;
}

/*Home Page*/

.main-content-home {
	margin: 20px;
	margin-top: 120px;
	margin-bottom: 120px;
}	

.welcome {
	background-color: #CC6666;
	max-width: 400px;
	box-shadow: 0px 0px 10px rgba(141, 141, 139, .75);
	margin-bottom: 120px;
}

.welcome p {
	color: white;
	text-align: center;
	max-width: 400px;
	margin: auto;
	padding: 1.5em;
	padding-top: 3em;
	font-size: 20px;
}


.home-cell {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.home-cell img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

/*About*/

.main-content-about {
	margin: 20px;
	margin-top: 110px;
	margin-bottom: 120px;
}

.about-picture img {
	box-shadow: 0px 0px 10px rgba(141, 141, 139, .75);
	margin-top: 20px;
}

.main-content-about h1 {
	font-family: "TofinoProPersonal-Regular", "Arial";
	color: #CC6666;
}

.main-content-about h3 {
	font-family: "TofinoProPersonal-Regular", "Arial";
}

.about-cell {
	display: block;
}

.about-cell img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

/*Work*/

.main-content-work {
	margin: 20px;
	margin-top: 120px;
	margin-bottom: 120px;
}

.main-content-work h1 {
	font-family: "TofinoProPersonal-Regular", "Arial";
	color: #CC6666;
}

#projects {
	background-color: #FF9999;
	box-shadow: 0px 0px 10px rgba(141, 141, 139, .75);
}

#projects h2 {
	font-family: "TofinoProPersonal-Bold", "Arial";
	color: #FFFFFF;
	margin: 10px;
	padding: 5px;
}

#projects p {
	color: #FFFFFF;
	margin: 10px;
	padding: 5px;
}

#skills {
	background-color: #CC6666;
	box-shadow: 0px 0px 10px rgba(141, 141, 139, .75);
}

#skills h2 {
	font-family: "TofinoProPersonal-Bold", "Arial";
	color: #FFFFFF;
	margin: 10px;
	padding: 5px;
}

#skills p {
	color: #FFFFFF;
	margin: 10px;
	padding: 5px;
}

.work-cell {
	margin-bottom: 2%;
	margin-left: 2%;
	display: block;
	width: 98%;
}

.semibold {
	font-family: "TofinoProPersonal-Semibold", "Arial";
}

/*Gallery*/

.main-content-gallery {
	margin: 20px;
	margin-top: 120px;
	margin-bottom: 120px;
}

.main-content-gallery h1 {
	font-family: "TofinoProPersonal-Regular", "Arial";
	color: #CC6666;
}

.photo-cell{
	margin-bottom: 2%;
	margin-left: 2%;
}
.photo-cell img {
	width: 98%;
  	display: block;
  	box-shadow: 0px 0px 10px rgba(141, 141, 139, .75);
}